.gen-button{
    width: 25%;
    height: 75px;
    color: #00ff40;
    text-align: left;
    font-family: 'Genos', sans-serif;
    background-color: #4e4e4e;
    font-size: 1vw;
}
.nav-bar{
    background-color: silver;
    display: flex;
    justify-content: fill;
}
.Page{
    height:100vh;
}
.page-content{
    height:100%;
    width:100%;
    
}
body{
    min-height: 100vh;
    width: 100%;
    /**background-image: url("background.jpg");**/
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(50,0,176,1) 100%);
}
#root{
    display: contents;
    
}

h1{
    font-family: 'Genos', sans-serif;
    font-size: 3vw;
    color: #00ff40;
    -webkit-text-stroke-color: #4e4e4e;
    -webkit-text-stroke-width: 2px;
    margin: 0;

}