.gen-button{
    height: 100%;
    background: #ffffff00;
    text-align: center;
    font-family: "museo-sans", "Helvetica Neue", sans-serif;
    font-size: 1vw;
    color: white;
    transform: scale(1, 1);
    transition: all 0.6s ease;
    border: 0;
    overflow: hidden;
}
.hover-button{
    height: 100%;
    text-align: center;
    font-family: "museo-sans", "Helvetica Neue", sans-serif;
    font-size: 1.05vw;
    color: white;
    border-radius: 1;
    border-right-style: solid;
    border-left-style: solid;
    border-color: white;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
    overflow: hidden;
    background: rgba(6, 28, 33, .5);
    transform: scale(1, 1);
    transition: all 0.6s ease;
    text-decoration: underline;
    
}

.home-bar{
    display: flex;
    justify-content: fill;
    top: 0;
    height:40%;
    width:100%;
    background: rgba(255, 215, 0, 0.09);
    box-shadow: 100px 30px 100px 100px rgb(5, 25, 32);
}
.nav-bar{  
    display: flex;
    justify-content: right;
    top: 0;
    height:4%;
    width:100%;
    background: rgba(27, 27, 27, 0.801);
    /*box-shadow: 100px 30px 100px 100px rgb(5, 25, 32);*/
}

.nav-title{
    /*display: flex;*/
    margin-right: auto;
    width: 9%;
    height: 100%;
    background: #ffffff00;
    text-align: center;
    font-family: "museo-sans", "Helvetica Neue", sans-serif;
    font-size: 1vw;
    color: white;
    
    border: 0;
    overflow: hidden;

}
.hid-bar{
    height: 0;
    width: 0;
}

.Page{
    height:100vh;
    background-image: url(greenwarm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.438);
    /*background: linear-gradient(0deg, rgb(9, 94, 1) 0%, rgb(7, 231, 37) 100%);*/
}
.Resume, .Projects, .About{
    position: relative;
    top: 0;
    height:86%;
    width:100%;
    /* background: rgba(7, 37, 48, 0.63);*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 100px 100px 100px 100px rgb(5, 25, 32);*/
}
.git, .email{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkImg{
    width: 4.5vw; 
    height: 8vh;

}
.home-links{
    display: flex;
    height: auto;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;

}

.imgLink-container{
    display: flex;
    height: auto;
    justify-content: space-between;
}

content.Home{
    position: relative;
    top: 0;
    height:100%;
    width:100%;
    background: rgba(7, 37, 48, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 100px 100px 100px 100px rgb(5, 25, 32);*/
}

.project-container{
    width: 95%;
    height: 90%;
    border-radius: 10px;
    display: grid;
    row-gap: 5%;
    
}

.textBox{
    height: auto;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

.page-window{
    width: 95%;
    height: 90%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    display: flex;

}
.portrait{
    max-height: 5%;

}

body{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    
}

#root{
    display: contents;
}

.home-top-blurb, .home-bottom-blurb{
    max-height: 33%;
}
.home-text{
    margin: 10%;
    margin-top: 5%;
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

p{
    font-family: 'droid-serif', "sans-serif";
    font-size: 2vh;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-align: center;
}
a{
    text-align: center;
}
h1{
    font-family: "museo-sans", "Helvetica Neue", sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
    color: #ffffff00;
    /*-webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;*/
    margin: 0;
    background-color:rgba(255, 255, 255, 0.438);
    padding:5px;
    border: 5px solid transparent;
    height:6%;
}

